<% provide :page_shell do %>
  <div class="event-layout">
    <%= render "events/sidebar_navigation", event: @event %>

    <div class="event-layout__main">
      <%= render "shared/flash" %>

      <section class="event-section">
        <header class="event-section__header">
          <div>
            <p class="event-section__eyebrow">Run of Show</p>
            <h1 class="event-section__title">Edit Calendar Item</h1>
            <p class="event-section__subtitle"></p>
          </div>
        </header>

        <div class="event-section__body">
          <%= render "form", item: @item %>
        </div>
      </section>
    </div>
  </div>
<% end %>
