@font-face {
  font-family: "MrsEavesSmallCaps";
  src: url("/fonts/mrseavessmallcaps_regular-webfont.woff2") format("woff2"),
       url("/fonts/mrseavessmallcaps_regular-webfont.woff") format("woff"),
       url("/fonts/mrseavessmallcaps_regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Didot";
  src: url("/fonts/Didot.woff2") format("woff2"),
       url("/fonts/Didot.woff") format("woff"),
       url("/fonts/Didot.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Didot";
  src: url("/fonts/DidotLTStd-Italic.woff") format("woff"),
       url("/fonts/DidotLTStd-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "BaskervilleNo2";
  src: url("/fonts/ufonts.com_baskervilleno2bt-roman-opentype-webfont.woff") format("woff"),
       url("/fonts/ufonts.com_baskervilleno2bt-roman-opentype-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SackersGothic";
  src: url("/fonts/SackersGothicStd-Medium.woff") format("woff"),
       url("/fonts/SackersGothicStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
