<section class="stack">
  <p class="breadcrumbs">
    <%= link_to "Events", events_path %> /
    <%= link_to @event.name, event_path(@event) %> /
    <%= link_to "Settings", event_settings_path(@event) %> /
    Team
  </p>

  <h1>Team Settings</h1>
  <div class="dashboard__empty">
    <p>TODO: Manage event roles, access levels, and collaborator invites.</p>
  </div>

  <p>
    <%= link_to "Back to Settings", event_settings_path(@event) %>
  </p>
</section>
