<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Segment Preview</title>
    <style>
      *, *::before, *::after { box-sizing: border-box; }
      html, body { margin: 0; padding: 0; background: #ffffff; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
