<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Segment Preview</title>
    <%= render "generated_documents/sections/preview_styles" %>
  </head>
  <body>
    <%= render "generated_documents/sections/preview_frame" do %>
      <%= yield %>
    <% end %>
  </body>
</html>
